#  Grouping

By the end of this lesson students will be able to:

- Understand and apply the Split-Apply-Combine strategy to analyze grouped data.
- Use groupby() to split a pandas.DataFrame by one or more columns.
- Calculate summary statistics for groups in a pandas.DataFrame.
- Use method chaining for efficient data analysis.

In [1]:
import numpy as np
import pandas as pd

# Load Palmer penguins data
URL = 'https://raw.githubusercontent.com/allisonhorst/palmerpenguins/main/inst/extdata/penguins.csv'
penguins = pd.read_csv(URL)

penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

## Summary statistics

- sum(): sum values in each column,
- count(): count non-NA values in each column,
- min() and max(): get the minimum and maximum value in each column,
- mean() and median(): get the mean and median value in each column,
- std() and var(): get the standard deviation and variance in each column.

In [2]:
# Get the number of non-NA values in each column 
penguins.count()

species              344
island               344
bill_length_mm       342
bill_depth_mm        342
flipper_length_mm    342
body_mass_g          342
sex                  333
year                 344
dtype: int64

In [3]:
# Get minimum value in each column with numerical values
penguins.select_dtypes('number').min()

bill_length_mm         32.1
bill_depth_mm          13.1
flipper_length_mm     172.0
body_mass_g          2700.0
year                 2007.0
dtype: float64

## Grouping

**The Split-Apply-Combine method** 

Split: Split the data into logical groups (e.g. species, sex, island, etc.)

Apply: Calculate some summary statistic on each group (e.g. average flipper length by species, number of individuals per island, body mass by sex, etc.)

Combine: Combine the statistic calculated on each group back together.

For a pandas.DataFrame or pandas.Series, we can use the `groupby()` method to split (i.e. group) the data into different categories. Syntax:

In [4]:
df.groupby(columns_to_group_by).summary_method()

NameError: name 'df' is not defined

**Example**

If we don’t use `groupby()` and directly apply the `mean()` method to our flipper length column, we obtain the average of all the values in the column:

In [ ]:
penguins['flipper_length_mm'].mean()

To get the mean flipper length by species we first group our dataset by the species column’s values. However, if we just use the groupby() method without specifying what we wish to calculate on each group, not much happens up front:

In [ ]:
penguins.groupby('species')['flipper_length_mm']

In [ ]:
# Average flipper length per species
penguins.groupby('species')['flipper_length_mm'].mean()

- start with the penguins data frame, and then…
- use groupby() to group the data frame by species values, and then…
- select the 'flipper_length_mm' column, and then…
- calculate the mean() of this column with respect to the groups.

In [ ]:
# Average flipper length per species w/ METHOD CHAINING 

avg_flipper = (penguins.groupby("species")
                        .flipper_length_mm
                        .mean()
                        .rename('mean_flipper_length')
                        .sort_values(ascending=False)
                        )
avg_flipper

In [ ]:
#When we group by island and year we get the count of non-NA values for each column across each combination of island and year:

penguins.groupby(['island','year']).count()

Let’s say we want to plot the surveyed population per year and island. We could then use method chaining to do this:

In [ ]:
(penguins.groupby(['island','year'])
         .count()
         .species
         .sort_values()
         .plot(kind='barh', #Barh gives a horizontal bar plot
                title='Penguins surveyed at the Palmer Archipelago',
                ylabel=('Island, Year'))
         )

# Check-in

1. Use the `max()` method for pandas.DataFrames to calculate the maximum value of a penguin’s body mass by year and species.
2. Use (1) to display the highest body masses per year and species as a bar plot in descending order.

In [ ]:
penguins.columns

In [ ]:
# by year and species

(penguins.groupby(['year','species'])
         .body_mass_g
         .max()
)

In [ ]:
(penguins.groupby(['year','species'])
         .body_mass_g
         .max()
         .sort_values() #sorts the bar plots
         .plot(kind = 'barh'), 
                title = 'Max Penguin Body Mass (g) by Species per Year', 
                xlabel = ('Year', 'Species'), 
                ylabel = ('Body mass (g)')
)