# Subsetting 

Review core methods to select data from a `pandas.DataFrame`

## Read in CSV

In [1]:
import pandas as pd

# Read in file, argument is the file path 

df = pd.read_csv('data/wetlands_seasonal_bird_diversity.csv')

# Print data frame's first five rows

df.head()

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
0,2010,39.0,40.0,50.0,45.0,NaN,61.0,NaN,75.0,85.0,NaN,NaN,81.0
1,2011,48.0,44.0,NaN,58.0,52.0,NaN,78.0,74.0,NaN,67.0,70.0,NaN
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
3,2013,42.0,46.0,38.0,60.0,58.0,62.0,69.0,70.0,70.0,69.0,74.0,64.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0

In [2]:
# Print the data frame's last five rows

df.tail()

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
9,2019,39.0,39.0,40.0,57.0,52.0,53.0,54.0,55.0,53.0,63.0,54.0,50.0
10,2020,46.0,NaN,47.0,56.0,NaN,66.0,57.0,NaN,58.0,54.0,40.0,54.0
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
12,2022,40.0,46.0,49.0,60.0,55.0,65.0,57.0,60.0,57.0,60.0,61.0,60.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

In [3]:
# Print data frame's column names 

df.columns (#all functions have parenthesis, this is an attribute)

SyntaxError: incomplete input (3474014881.py, line 3)

In [ ]:
# List the data types of each column 

df.dtypes

In [ ]:
type(df.dtypes)

In [ ]:
# Print data frame's shape: output is a tupe (#rows, #columns)

df.shape

## Selecting a single column 

Simplest case: selecting a single column by column name

General syntax: 
```
df ['column_name']

```

This is an example of **label-based subsetting**. Which means we select data from our data frame using the *names* of the columns, *not their position*. 

### Example

In [ ]:
 # Select the number of bird species observed at Mugu Lagoon in Spring.
    
mul_spring = df['MUL_spring']

mul_spring

In [ ]:
type(mul_spring)

We can do label-based subsetting of a single column using attribute syntax. 

`df.column_name`

### Example

In [ ]:
df.MUL_spring

Favor `df['column_name']` instead of `df.column_name`

Why? COlumn names can have spaces, they can be the same as the attribute of the df.

## Selecting multiple columns

Using a list of column names. 

SYntax:
```
df[ ['column_1', 'column_10', 'column_245']]

```

Notice: there are double square brackets! This is because we are passing a list of names to the selection brackets.  

### Example

In [ ]:
# Select species abundance in Tijuana Estuary during winter and fall. 

tje_wf = df[['TJE_winter', 'TJE_fall']]

tje_wf

In [ ]:
tje_wf.dtypes

In [ ]:
tje_wf.shape

In [ ]:
type(tje_wf)

## Selecting using a slice 

To select a slice of the columns we will use a specie case of `loc` selection. 

Syntax:

```
df.loc[ :, 'column_start':'column_end']

```

`column_start` and `column_end` = starting and ending points of column slice, slice includes both endpoints 

- the first value passed to `loc` is used to select rows, using a `:` as the row-selection parameter means "select all the rows"

### Example

In [ ]:
# Select columns between CSM_winter and MUL_fall

csm_mul = df.loc[ : , 'CSM_winter': 'MUL_fall']

csm_mul

## Selecting rows ... 

### ... using a condition 

Syntax: 

```
df[condition_on_rows]

```

That `condition_on_rows` can be many things. 

### Example

We are interested in all data after 2020.

In [ ]:
# Select all rows with year >2020

post_2020 = df[df['year'] > 2020]

post_2020

condition for our rows= `df['year']>2020` this is a `pandas.Series` with **boolean values** (True or False) indicates which rows satisfy the condition year >2020.

In [ ]:
# Check the type of df['year'] >2020

print(type(df['year']> 2020))

# Print the boolean series

df['year'] > 2020

### Check-in

Ge the subset of the data frame on which the San Dieguito Wetland has at least 75 species recorded in the spring.

In [ ]:
df.columns

In [ ]:
sdw = df[ df['SDW_spring'] >= 75 ]

sdw

### Example 

Suppose we want to look at data from 2012 to 2015 (including both years).

In [ ]:
subset = df[df['year'].between(2012,2015)]

subset

- `df['year']` = column with year values, this is a pandas. Series

- `df['year'].between()` we jave tjat `between()` method for the pandas.Series. Calling it using (2012,2015)= parameters. 

- wehen you put `df['year'].between(2012,2015)` in the selection brackets, we obtain the rows we need. 

## Avoid using `loc` for selecting only rows. 

It is equivalent to write

```

#Select rows with year <2015

df[df['year']< 2025]

```

and 

```

df.loc[df['year']< 2015 , : ]

```

In the second one:

- using `df.loc[row-selection, column-selection]`
- the row selection is the condition `df['year']<2015`
- the column selection is `:` = all columns

## Using multiple conditions

We can combine conditiosn to select rows by surrounding each in parenthesis `()` and using the or `|` operator and the and `&` operator. 

### Example- or

In [ ]:
# Select rows in CSM with more than 50 species in winter or fall

df[ (df['CSM_winter'] >50)  | (df['CSM_fall'] >50) ]

Select rows in which CSM and SDW have more than 60 bird species during spring.

In [4]:
df [ (df['CSM_spring'] > 60 ) & ( df['SDW_spring'] > 60 ) ]

Empty DataFrame
Columns: [year, CSM_winter, CSM_spring, CSM_fall, MUL_winter, MUL_spring, MUL_fall, SDW_winter, SDW_spring, SDW_fall, TJE_winter, TJE_spring, TJE_fall]
Index: []

In [5]:
cond1 = df['CSM_winter'] > 50 
cond2 = df['CSM_fall'] > 50

## Selecting rows by position

Sometime we want to select rows based on ther *actual position* in the data frame. 
This is **position-based subsetting**. We use `iloc` selection. 

Syntax: 

```
df.iloc[row-indices]

```

`iloc` = integer-location based indexing 

### Example

In [6]:
# Select the fifth row (index = 4)

df.iloc[4]

year          2014.0
CSM_winter      38.0
CSM_spring      43.0
CSM_fall        45.0
MUL_winter      49.0
MUL_spring      52.0
MUL_fall        57.0
SDW_winter      61.0
SDW_spring      78.0
SDW_fall        71.0
TJE_winter      60.0
TJE_spring      81.0
TJE_fall        62.0
Name: 4, dtype: float64

In [8]:
df2 = df.set_index('year')

df2.head(3)

,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
year,,,,,,,,,,,,
2010,39.0,40.0,50.0,45.0,NaN,61.0,NaN,75.0,85.0,NaN,NaN,81.0
2011,48.0,44.0,NaN,58.0,52.0,NaN,78.0,74.0,NaN,67.0,70.0,NaN
2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0

In [9]:
# Selecting the 5th row by index label / loc is indexing by LABELS

df2.loc[2014]

CSM_winter    38.0
CSM_spring    43.0
CSM_fall      45.0
MUL_winter    49.0
MUL_spring    52.0
MUL_fall      57.0
SDW_winter    61.0
SDW_spring    78.0
SDW_fall      71.0
TJE_winter    60.0
TJE_spring    81.0
TJE_fall      62.0
Name: 2014, dtype: float64

In [10]:
df2.iloc[4]

CSM_winter    38.0
CSM_spring    43.0
CSM_fall      45.0
MUL_winter    49.0
MUL_spring    52.0
MUL_fall      57.0
SDW_winter    61.0
SDW_spring    78.0
SDW_fall      71.0
TJE_winter    60.0
TJE_spring    81.0
TJE_fall      62.0
Name: 2014, dtype: float64

## Selecting rows and columsn simultaneously

Can be done use `loc` (labels) or `iloc` (positions)

### by labels or conditions

use `loc`

Syntax:

```
df.loc[row-selection, column-selection]

```


### Example 

Select winter surveys for Mugu Lagoon and Tijuana Estuary after 2020.

In [11]:
df.loc[df['year'] > 2020, ['MUL_winter', 'TJE_winter']]

    MUL_winter  TJE_winter
11        54.0        53.0
12        60.0        60.0
13        72.0        60.0

### by position 

use `iloc`

Syntax:

```
df.iloc[ row-indices, column-indices]

```

### Example
Suppose we want to select rows 3-7 (including 7) and fourth and fifth columns

In [12]:
df.iloc[ 3:8, [3,4]]

   CSM_fall  MUL_winter
3      38.0        60.0
4      45.0        49.0
5      45.0        58.0
6      47.0        63.0
7      43.0        57.0

#### `iloc` column selection?

#### example

We want to access the 9th column in `df`. In this case, we already now this column is the San Dieguito Wetland during spring. 

*Why* wouldn't you want to use the `iloc` function?
- you may update the column numbers
- not as reproducable
- you need to think harder about the index

In [13]:
df.iloc[:,8]

0     75.0
1     74.0
2     72.0
3     70.0
4     78.0
5     61.0
6     62.0
7     45.0
8     49.0
9     55.0
10     NaN
11    58.0
12    60.0
13    63.0
Name: SDW_spring, dtype: float64